@import './apps/book/main.css';
@import './helpers.css';
@import './apps/keep/search-bar.css';
@import './apps/keep/note-list.css';
@import './apps/keep/note-add.css';
@import './apps/email/cmps/email-preview.cmp.css';
@import './apps/keep/color-picker.css';
@import './apps/email/cmps/email-compose.cmp.css';
@import './apps/keep/todos.css';
/* @import './apps/email/cmps/email-list.cmp.css'; */
@import './apps/keep/edit-note.css';
@import './apps/email/cmps/email-filter.cmp.css';

* {
    box-sizing: border-box;
}
 body {
    margin: 0  ;
} 

.main-navbar{
background-color: chocolate;
}


li {
    margin: 10px;
    background: rgb(148, 155, 160);
    width: 250px; */
    /* height: 400px; */
    /* text-align: center;
    line-height: 1.5rem;
    cursor: pointer;
}

li:hover {
    background: rgba(148, 155, 160);
    opacity: 0.7;
    transition: opacity 0.6s 
}

h2 {
    height: 40px;
    font-size: 1rem;
}

button {
    margin: 40px 0;
}

img{
    margin-bottom: 20px;
}
input{
    margin-top: 20px;
}
 */
