.email-container{
    display: flex;
    height: 5vh;
    justify-content: center;


    /* flex-wrap: wrap; */
    flex-direction: column;
    position: relative;
    bottom: -3.875rem;
}
.box{
    cursor: pointer;
    border: 1px solid black;
    background-color: white;
    text-align: left;
    padding: 5px;
    width: 10rem;
    border-radius: 2rem;
    font-weight: bold ;
    margin-right: 0.2rem;
    margin-top: 0.3rem;

}
.box:hover{
    background-color: #ffbf00;
    color:  black;
    opacity: 0.8;
    transition: opacity 0.6s;
}


.filter-input{
    max-width: 20rem;
    height: 2rem;
    border-radius: 0.5rem;
    margin-bottom: 0.2rem;
}
.filter-select{
    max-width: 20rem;
    height: 2rem;
    border-radius: 0.5rem;
    outline: none;
}

.email-filter{
    display: flex;
    flex-direction: column;
    margin-left: 0.3rem;
}

.Inbox{
    color: #ffbf00
    ;
}
.Starss{
    color: #ffbf00;
}
.Draft{
    color:#ffbf00;
}
.Delete{
    color: #ffbf00
    ;
}
