.filter-container{
    text-align: center;
}

.search-icon{
    border: 2px solid gainsboro;
    border-radius: 2rem;
    padding: 0.4rem;
}
.fa.fa-search{
    padding: 1rem;
}

.filter-input{
    border-radius: 2rem;
    margin-bottom: 0.2rem;
    width: 6rem;
    background-color: transparent;
    border-style: none;

}
.filter-select{
    max-width: 20rem;
    border-radius: 2rem;
    outline: none;
    min-height: 1.8rem;
}

.email-filter{
    display: flex;
    flex-direction: column;
    margin-left: 0.3rem;
}


