.first.compose-label {
    border: 1px solid black;
    background-color: rgb(240, 23, 23);
    color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.compose-label {
    border: 1px solid black;
    padding: 0.12rem;
}

.email-compose {
    max-width: 500px;
    margin: 5px 5px;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 15px;
}

.email-compose .email-compose-div  {
    display: flex;
    margin: 0;
    padding: 0;
    border-radius: 15px;
}

.compose-label {
    flex-grow: 1;
}

.last {
    flex-grow: 4;
    min-height: 300px;
    width: 500px;
    margin: 0;
    size: 500;
}

.compose-input {
    flex-grow: 4;
    min-height: 10px;
    margin: 0;
    padding: 0.1rem;
}

.last .compose-textarea {
    flex-grow: 4;
    min-height: 10px;
    margin: 0;
}

.button-compose {
    margin: 2rem 2rem 0 2rem;
}
.button-compose:hover {
    opacity: 0.8;
    transition: opacity 0.6s 
}

.button-compose.control {
    background-color: rgb(240, 23, 23);
    height: 3rem;
    width: 10rem;
    border-radius: 2rem;
    font-weight: bold;
}

.email-compose-div:last-of-type{
    justify-content: center;
}

