
.bold{
    font-weight: bold;
    font-size: 1rem;
}

.normal{
    font-weight: normal;
    font-size: 1rem;
}

form{
    max-width: 500px;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.preview-last{
    width: 500px;
    margin: 0;
}

button{
    cursor: pointer;
}

select{
    margin-bottom: 20px;
}

.email-preview{
    border: 1px solid black
}
div{
    margin: 5px;
}