.first.details-label {
    border: 1px solid black;
    background-color: rgb(240, 23, 23);
    color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.details-label {
    border: 1px solid black;
    padding: 0.12rem;
}

.email-details {
    max-width: 500px;
    margin: 5px 5px;
    flex-direction: column;
    border: 1px solid black;
}

.email-details .email-details-div  {
    display: flex;
    margin: 0;
    padding: 0;
}

.details-label {
    flex-grow: 1;
}

.last {
    flex-grow: 4;
    min-height: 300px;
    width: 500px;
    margin: 0;
    size: 500;
}

.details-input {
    flex-grow: 4;
    min-height: 10px;
    margin: 0;
    padding: 0.1rem;
}

.last {
    flex-grow: 4;
    min-height: 10px;
    margin: 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    resize: none;

}

.button-details {
    cursor: pointer;
    border: none;
    background: none;
    font-size: 1.2rem;
    margin-left: 15px;
}

.email-details{
    border-radius: 15px;
    background-color: white;
}