
.bold{
    font-weight: bold;
    font-size: 1rem;
}

.normal{
    font-weight: normal;
    font-size: 1rem;
}

.email-preview-div{
    margin: 5px;
    padding: 5px;
    border-radius: 1rem;
}

.preview-last{
    width: 500px;
    margin: 0;
} 

.button-email-preview{
    cursor: pointer;
    border: none;
    background: none;
    font-size: 1.2rem;
    margin-left: 15px;
}

select{
    margin-bottom: 20px;
}

.email-preview{
    border: 1px solid black
} 

.Stars{
    color: rgb(232, 245, 49);
}

.preview-label {
    border-style: ridge;
    padding: 0.12rem;
}

.email-preview-form {
    max-width: 500px;
    margin: 5px 5px;
    flex-direction: column;
}

.email-preview-form .preview-div  {
    display: flex;
    padding: 0;
} 

.preview-label {
    flex-grow: 1;
}

.last {
    flex-grow: 4;
    min-height: 300px;
    width: 500px;
    margin: 0;
    size: 500;
}

.preview-input {
    flex-grow: 4;
    min-height: 10px;
    margin: 0;
    padding: 0.1rem;
}

.last .compose-textarea {
    flex-grow: 4;
    min-height: 10px;
    margin: 0;
}

preview-div{
    margin: 5px;
    padding: 5px;
    border: 1px solid black
}