.bold {
    font-weight: bold;
    font-size: 1rem;
}

.normal {
    font-weight: normal;
    font-size: 1rem;
}

.email-preview-div {
    margin: 5px;
    padding: 5px;
    border-radius: 1rem;
    background-color: white;
}

.email-preview.email-preview-div:hover {
    box-shadow: 4px 4px 4px 6px #ffbf00;
    transition: box-shadow 0.5s 
}

.email-preview.email-preview-div {
    border-color: #ffbf00;
}

.preview-last {
    width: 53.75rem;
    height: 3rem;
    margin: 0;
    font-size: 0.8rem;
    font-style: normal;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.button-email-preview {
    cursor: pointer;
    border: none;
    background: none;
    font-size: 1.2rem;
    margin-left: 1rem;
    /* color: lightgray; */
}

.button-email-preview:hover {
   box-shadow: 4px 4px 4px 6px #ccc3a7;
   transition: box-shadow 0.5s ;
   /* color: rgb(71, 67, 67); */
}
.fa.fa-info-circle:hover {
    box-shadow: 4px 4px 4px 6px #ccc3a7;
    transition: box-shadow 0.5s 
}

select {
    margin-bottom: 20px;
}

.email-preview {
    border: 1px solid black
}

.Stars {
    color: rgb(232, 245, 49);
}

.preview-label {
    border-style: ridge;
    padding: 0.12rem;
}

.email-preview-form {
    /* max-width: 500px; */
    margin: 5px 5px;
    flex-direction: column;
}

.email-preview-form .preview-div {
    display: flex;
    padding: 0;
}

.preview-label {
    flex-grow: 1;
}

.last {
    flex-grow: 4;
    min-height: 300px;
    width: 500px;
    margin: 0;
    size: 500;
}

.preview-input {
    flex-grow: 4;
    min-height: 10px;
    margin: 0;
    padding: 0.1rem;
    font-size: 0.8rem;
    font-style: normal;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.last .compose-textarea {
    flex-grow: 4;
    min-height: 10px;
    margin: 0;
}

preview-div {
    margin: 5px;
    padding: 5px;
    border: 1px solid black
}

.bottom-button {
    text-align: center;
}

.text-media {
    font-size: 0.8rem;
    font-style: normal;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}