@import './helpers.css';
@import './layout.css';

/* CPMS */

@import './cmps/car-list.css';
@import './cmps/car-preview.css';
@import './cmps/car-filter.css';
@import './cmps/car-edit.css';
@import './cmps/user-msg.css';

.router-link-exact-active {color: lightyellow}


.fade1-enter-active, .fade1-leave-active {
    transition: .5s;
}

.fade1-enter, .fade1-leave-to  {
    opacity: 0;
}

#myMap {
    background-color: burlywood;
    min-height: 200px;
}

.ball {
    background-color: yellowgreen;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}