@media (max-width: 830px) {
    .email-container {
        flex-direction: column;
        height: auto;
        margin-right: 0.3rem;
    }
    .box {
        width: 5rem;
        font-size: 0.7rem;
    }
    .email-preview .preview-div {
        max-width: 180px;
    }
    .filter-input {
        width: 5rem;
        border: none;
        border-radius: 2rem;
    } 
    .button-compose.control {
        margin: 0.5rem 0.3rem 0 0.3rem;
    }
    .preview-input {
        max-width: 110px;
    }
    .button-email-preview {
        margin-left: 0.4rem;
    }
    .preview-input {
        font-size: 0.7rem;
    }
    .preview-label {
        font-size: 0.7rem;
    }
    .text-media {
        margin: 0;
        padding: 0 0 0 5px;
        font-size: 0.7rem;
    }
    .search-box{
        /* background-color: white; */
        padding-left: 0.2rem;
        border-radius: 2rem;
        margin-bottom: 0.3rem;
        max-width: 8rem;
        max-height: 2rem;
    }
}