@media (max-width: 1230px) {
    /* .email-container {
        flex-direction: column;
        height: auto;
        margin-right: 0.3rem;
    } */
    .box {
        width: 10rem;
        font-size: 1rem;
    }
    .email-preview .preview-div {
        max-width: 800px;
    }
    .filter-input {
        width: 5rem;
        border: none;
        border-radius: 2rem;
    }
    .button-compose.control {
        margin: 0.5rem 0.3rem 0 0.3rem;
    }
}

@media (max-width: 1150px) {
    .box {
        width: 10rem;
        font-size: 1rem;
    }
    .email-preview .preview-div {
        max-width: 600px;
    }
    .filter-input {
        width: 5rem;
        border: none;
        border-radius: 2rem;
    }
    .button-compose.control {
        margin: 0.5rem 0.3rem 0 0.3rem;
    }
}

@media (max-width: 950px) {
    .box {
        width: 10rem;
        font-size: 1rem;
    }
    .email-preview .preview-div {
        max-width: 400px;
    }
    .filter-input {
        width: 5rem;
        border: none;
        border-radius: 2rem;
    }
    .button-compose.control {
        margin: 0.5rem 0.3rem 0 0.3rem;
    }
}

@media (max-width: 800px) {
    .box {
        width: 10rem;
        font-size: 1rem;
    }
    .email-preview .preview-div {
        max-width: 300px;
    }
    .filter-input {
        width: 5rem;
        border: none;
        border-radius: 2rem;
    }
    .button-compose.control {
        margin: 0.5rem 0.3rem 0 0.3rem;
    }
}

@media (max-width: 650px) {
    .email-container {
        margin-right: 0.3rem;
    }
    .box {
        width: 10rem;
        font-size: 1rem;
    }
    .email-preview .preview-div {
        max-width: 250px;
    }
    .filter-input {
        width: 5rem;
        border: none;
        border-radius: 2rem;
    }
    .button-compose.control {
        margin: 0.5rem 0.3rem 0 0.3rem;
    }
    .text-media

}

@media (max-width: 520px) {
    .email-container {
        margin-right: 0.3rem;
    }
    .box {
        width: 6rem;
        font-size: 0.8rem;
    }
    .email-preview .preview-div {
        max-width: 230px;
    }
    .filter-input {
        max-width: 5rem;
        border: none;
        border-radius: 2rem;
        min-width: 5rem;
    }
    .search-icon {
        max-width: 5rem;
    }
    .button-compose.control {
        margin: 0.5rem 0.3rem 0 0.3rem;
    }
    .container-filter-list .flex {
        justify-content: space-around;
    }
    /* .preview-input {
        max-width: 80px;
        font-size: 0.6rem;
        font-style: normal;
        font-family: Georgia, 'Times New Roman', Times, serif;
    } */
}

@media (max-width: 430px) {
    .email-container {
        margin-left: 0.3rem;
    }
    .box {
        width: 6rem;
        font-size: 0.8rem;
    }
    .email-preview .preview-div {
        max-width: 200px;
    }
    .filter-input {
        max-width: 5rem;
        border: none;
        border-radius: 2rem;
        min-width: 5rem;
    }
    .search-icon {
        max-width: 5rem;
    }
    .button-compose.control {
        margin: 0.5rem 0.3rem 0 0.3rem;
    }
    /* .preview-input {
        max-width: 50px;
        font-size: 0.6rem;
        font-style: normal;
        font-family: Georgia, 'Times New Roman', Times, serif;
    } */
    /* .button-email-preview {
        margin-left: 0.4rem;
    } */
    .preview-label {
        font-size: 0.7rem;
    }
    .text-media {
        margin: 0;
        padding: 0 0 0 5px;
        font-size: 0.7rem;
    }
    .search-box {
        /* background-color: white; */
        padding-left: 0.2rem;
        border-radius: 2rem;
        margin-bottom: 0.3rem;
        max-width: 8rem;
        max-height: 2rem;
    }
    .container-filter-list .flex {
        justify-content: unset;
    }
}