.Palette{
    width: 200px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    }
    
    .note-list div .Palette{
      background-color: white;
      margin: 0 auto;

    }
    .Palette .color{
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 2px solid black;
       
    }
    .Palette .color:hover{
        cursor: pointer;
    }
