@media screen and (max-width: 380px) {

    .add-note{
        max-width: 315px;
        margin-top: 20px;
    }
    .add-note ul{
        padding-inline-start: unset;
        margin: 0 auto;
    }
    .note-list div {
        margin: 0 auto;
    }
    ul{
        padding-inline-start: unset;
    }


    .add-note input {
        width: 120px;
        line-height: 2;
        font-size: 1rem;
        border: unset;
    }
    .add-note i{
        font-size: 1.5rem;
    }
    .note-list li p{
        font-size: 1rem;
    }

    .search-bar{
        max-width: 315px;
    }
    .search-bar *{
        width: 120px;
    }

  }


