
* {
    box-sizing: border-box;
}
/* 
body {
}

.book-list {
    background-color: aquamarine;
}

li {
    margin: 10px;
    width: 250px;
    text-align: center;
    line-height: 1.5rem;
    cursor: pointer;
}

li:hover {
}

.clean-list {
    list-style-type: none;
    transition-duration: 0.3;
}

.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.space-around {
    justify-content: space-around;
}

.wrap {
    flex-wrap: wrap;
}

.redColor {
    color: red;
    font-weight: bold;
    font-size: 1rem;
}

.greenColor {
    color: green;
    font-weight: bold;
    font-size: 1rem;
}

h2 {
    height: 40px;
    font-size: 1rem;
}

button {
    margin: 40px 0;
}
.book-details{
    margin: 10px;
    width: 500px;
    text-align: center;
    line-height: 1.5rem;
    cursor: pointer;

}
img{
    margin-bottom: 20px;
}
input{
    margin-top: 20px;
} */
