
.note-list div li{
   width: 300px;
   padding: 20px;
   text-align: center;
   display: grid;
   background-color: unset;
   font-size: 1.6rem;
    line-height: 1.5;
}
.note-list img{
    width: 250px;
}

.note-list div{
    height: max-content;
    text-align: center;
    border-radius: 20px;
    padding: 10px;
    
}
.gray {
    color: gray;
}