
.add-note{
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
    height: 60px;
    border-radius: 20px;
    color: gray;
    box-shadow: 1px 3px 6px 2px #959595;
    align-items: center;
    justify-content: center;
}

.selected-btn{  
    border: unset;
    color: black;
    border: none;
    outline:none;
}

.add-note i{
    font-size: 2rem;
    padding: 10px;
    border: none;
    outline:none;
    cursor: pointer;
}

.add-note input{
    width: 220px;
    line-height: 2;
    font-size: 1rem;
    border: unset;
    /* border-radius: 15px; */
}
.add-icon:hover{
    color: black;
}