.search-bar{
    text-align: center;
    margin: 0 auto; 
}
.search-bar input{ 
    margin: unset;
}
.search-bar h1{
    margin: 0 auto;
    font-size:  2rem;
}
.search-bar *{
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: 20px;
    margin-top: 20px;
    border: none;
    outline:none;
}
