.user-msg {
    padding: 5px 20px;
    border: 1px solid lightgray;
    background-color: rgba(0, 0, 255, 0.9);
    position: fixed;
    top: 5px;
    right: 5px;
}

.user-msg button {
    float:right;
}

.user-msg.fail {
    background-color: lightpink;
}
.user-msg.success {
    background-color: green;
    color:white;
}